@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactForm>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
    <section class="container">
		   @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="9a51c95f-cc65-4e17-9531-2753271e6b62", FormTheme="bootstrap3-horizontal", ExcludeScripts="1"})
    </section>
