<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="55302a87-04bb-4e0d-924e-5d6fa579820a" name="Forlaget Aifos" alias="forlaget-aifos" type="Starter" color="" url="https://www.s1.umbraco.io/project/forlaget-aifos">
  <environment type="development" name="Development" id="f60baebf-32bb-4a31-9dbf-bd7fd9e3597f">https://dev-forlaget-aifos.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="6d82339c-cfd7-4ab0-b2cd-052070ec8f82">https://forlaget-aifos.s1.umbraco.io</environment>
</environments>